$fontFamilyFirst:'Josefin Sans', sans-serif;
$fontFamilySecond:'Aleo', serif;
$bold:700;
$regular:400;
$mainColor:#ffff;
$secondColor:#5474FD;


.container{
    max-width: 1773px;
    width: 100%;
    margin: auto;
}


.main{
  z-index: -1;

  .btn{
      background-color: $secondColor;
      font-family: $fontFamilySecond;
      line-height: 26px;
      color: $mainColor;

  }

    &__item{
            &--herobg{
                background-image: url(../img/hero1.png);
                padding: 250px 559px 254px 557px;
                background-size: cover;
            }
            
            &--blue{
                background-color: $secondColor;
            }

            &--explore{
                background-image: url(/assets/img/castle.png);
                background-repeat: no-repeat;
                background-size: cover;
            }

            &--features{
                background-color: #333333;
            }

            &--testimonials{
                background:url(/assets/img/bookhouse.png) center/cover no-repeat;
                background-size: cover;
                background-repeat: no-repeat;
            }
            
            &--testimonialstwo{
                background:url(/assets/img/sea.png) center/cover no-repeat;
                background-size: cover;
                background-repeat: no-repeat;
            }

            &--reviewbg{
                background-image:url('/assets/img/tourist1.png');
                padding: 128px 200px;
                background-size: cover;

            }
            &--footer{
                background-color: #232323;
            }
        }
    
        .nav{
            &__menubar{
                display: none;
            }
        }
        .social{
            display: flex;
            gap:20px;

            &__link{
                text-decoration: none;
                color: $mainColor;
                font-family: $fontFamilySecond;
                font-size: 14px;
                line-height: 26px;
                letter-spacing: 1px;
            }
        }

        .hero{   
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            // width: 40%;
            margin:0 auto;
            
            &__title{
                font-family: $fontFamilyFirst;
                font-size: 48px;
                font-weight: $bold;
                line-height: 26px;
                letter-spacing: 4.8px;
                color: $mainColor;
                margin: 0;
                margin-bottom: 11px;
            }
            &__description{
                font-family: $fontFamilyFirst;
                font-weight: $regular;
                font-weight: 300;
                font-size: 22px;
                line-height: 26px;
                letter-spacing: 6.82px;
                color: $mainColor;
                margin-bottom: 48px;
            }

            &__search{
                display: flex;
                max-width: 650px;
                width: 100%;
                height: 60px;
                background: white;
                position: relative;
                margin-bottom: 108px;
            }

            &__input{
                width: 77%;
                text-align: center;
                position: relative;
                border: none;
                font-size: 14px;
                color: #999999;
                font-family: 'Josefin Sans';
                font-weight: $regular;
            }


            &__scroll{
                color: $mainColor;
                font-family: $fontFamilyFirst;
                font-size: 14px;
                line-height: 26px;
                letter-spacing: 2.8px;   
            }

            .btn--search{
                position: absolute;
                right: 1px;
                top: 1px;
                justify-content: center;
                background-color: #5474FD;
                border: none;
                color: #ffff;
                font-family: "Aleo", serif;
                font-weight: 400;
                font-size: 14px;
                line-height: 26px;
                letter-spacing: 1.4px;
                padding: 21px 38px 10px 23px;
            }

        } //hero braclet

        .nav{
            display: flex;
            justify-content: space-around;
            padding: 30px 27px;
            // flex-direction: column;

            &__logo{
                font-family: $fontFamilyFirst;
                font-style: $bold;
                font-size: 24px;
                line-height: 26px;
                letter-spacing: 2.4px;
                color: $mainColor;
                text-decoration: none;  
            }
        }  

    //Explore Section css
    .explorewrap{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 120px 0;
        z-index: -3;

        .explore{
            flex-basis: 50%;
            padding-right: 110px;
            padding-left: 181px;

            &__title{
                font-family: $fontFamilySecond;
                font-weight: $regular;
                font-size: 36px;
                color: $mainColor;
                line-height: 26px;
                margin-bottom: 50px;
            }

            &__description{
                // font-family: $fontFamilyFirst;
                // font-weight: $regular;
                line-height: 1.63;
                letter-spacing: 1.03px;
                color: $mainColor;
                margin-bottom: 26px;

                &:first-of-type{
                    margin-bottom: 43px;
                }

                &:not(:first-of-type){
                    margin-bottom: 66px;
                }
            }
            
        }
        
        .btn--explore{
            padding: 21px 40px 16px 40px;
            border: none;
        }

        .gallery{
            max-width: 436px;
            width: 100%;
            
            &__img{
                max-width: 350px;
                width: 100%;
            }
            &__img--left{
                margin-bottom: 10px;
            }
            &__img--right{
                float: right;
            }
        }
    }

    //features
    
    .features{
        display: flex;
        justify-content: center;
        gap: 105px;
        align-items: center;
        text-align: center;
        padding: 80px 0 80px 0;

        &__item{
            display: flex;
            flex-direction: column;
            gap: 43px
        }

        &__link{
            font-size: 72px;
            margin-bottom: 35px;
            font-weight: normal;
        }

        &__link--blue{
            color: $secondColor;
        }


        &__link--red{
            color: #ff6363;
        }

        &__link--lightblue{
            color:#00a2ff;
        }

        &__description{
            font-family: $fontFamilySecond;
            font-weight: normal;
            font-size: 36px;
            letter-spacing: 1px;
            color: $mainColor;
        }
    }

    //testimonials

    .testimonials{
        padding: 227px 99px;
        color: $mainColor;

        &--left, &--right{
            // width: 35%;
           width: 58%;
           padding: 227px 99px;
        }

        &--right{
            margin-left: auto;
        }

        &__content{
            background-color: rgba(35, 35, 35, 0.9);
            padding: 50px 30px;
            max-width: 540px;
            width: 100%;
            margin: 0 auto;
        }

        &__title{
            margin-bottom: 25px;
        }
        &__heading{
            margin-bottom: 13px;
        }

        &__description{
            margin-bottom: 46px;
            letter-spacing: 1px;
        }

        .btn--book{
            padding:21px 34px 16px 34px;
            border: none;
        }
        }
    
        //review section
        .review{
            color: $mainColor;
            &__heading{
                text-align: center;
                font-family: $fontFamilySecond;
                font-size: 36px;
                line-height: 26px;
                margin-bottom: 91px;

            }
        }
        .reviewbox{
            display: flex;
            justify-content: center;
            max-width: 1113px;
            width: 100%;
            margin: 0 auto;
            align-items: center;

            &__img{
                max-width: 445px;
                width: 100%;
            }
        }

        .client{
            padding:45px 25px 30px 60px;
            max-width: 59%;
            align-self: start;
            background: #333333;

            &__name{
                font-family: 'Poppins' sans-serif;
                font-size: 20px;
                line-height: 26px;
                font-weight: $regular;
            }

            &__saying{
                font-family: $fontFamilyFirst;
                position: relative;
                text-indent: 29px;
                line-height: 1.625;
                // letter-spacing: -0.58px;

                .fas.fa-quote-left{
                    content: '';
                    color: #5474fd;
                    font-size: 18px;
                    position: absolute;
                    top: -12px;
                    left: -27.5px;
                    
                }
               
            }
        }
        //footer
        .footer{
            padding: 53px 202px;
            color: #ffff;
            margin: 0 auto;
            text-align: center;
            color: $mainColor;
       

            &__title{
                font-family: $fontFamilyFirst;
                font-size: 24px;
                font-weight: $bold;
                line-height: 24px;
                letter-spacing: 3.36px;
                margin-bottom: 8px;
            }

            &__description{
                margin-bottom: 16px;
            }

          
            .footersocials{
                display: flex;
                gap: 25px;
                justify-content: center;

                &__link{
                    color: $mainColor;
                    font-size: 15px;

                    &--blue{
                        color: $secondColor;
                    }
                    &--black{
                        color: black;
                        background-color: white;
                        border-radius:9px;
                        padding: 3px 3px 0px 3px;
            }
            
                }


            }
            
        }

        

    

    } 



    @media only screen and (max-width: 600px){
        .nav{
            justify-content: start;

            &__logo{
                margin-right: auto;
            }
            .social{
                flex-direction: column;
                display: none;
            }
        }

        .main__item{
            &--herobg{
                padding: 20px 20px;

                .hero{

                    &__title{
                        font-size: 22px;
                    }

                    &__description{
                        font-size: 11px;
                        margin-bottom: 30px;
                    }

                    &__search{
                        max-width: 350px;
                    }

                    &__input{
                        width: 60%;
                        font-size: 11px;
                    }

                    .btn--search{
                        padding:16px 17px;

                    }
                }
            }

            &--explore{
                .explorewrap{
                    flex-wrap: wrap;
                    flex-direction: column-reverse;
                    padding: 5px 0;

                    .explore{
                        margin-bottom: 14px;
                        padding: 0 75px;
                    }

                    .gallery{
                        // max-width: 350px;

                        &__img--left{
                            margin-top: 10px;
                        }
                        &__img--right{
                            display: none;
                        }
                    }

                    .btn--explore{
                        padding: 15px 15px;
                    }
                }
            }

            &--features{
                .features{
                    flex-direction: column;
                    gap: 0;
                    padding: 40px 20px;
                    &__item{
                        gap: 0;
                    }
                    &__description{
                        margin-bottom: 30px;
                        font-size: 30px;
                    }
                }
                .svg{
                    height: 50px;
                }
            }

            &--testimonials{
                .btn.btn--book{
                    padding: 15px 15px;
                }
                .testimonials{
                &--left{
                    width: 84%;
                    padding: 25px 50px;
                    margin: 0 auto;
                }
            }
               
            }

            &--testimonialstwo{
                .btn.btn--book{
                    padding: 15px 15px;
                }
                .testimonials{
                    &--right{
                    width: 84%;
                    padding: 25px 50px;
                    margin: 0 auto;
                     }
              }
            }

            &--reviewbg{            
                padding: 80px 70px;             
                .review{
                    &box{
                        flex-direction: column;
                    }
                    .client{
                        max-width: 100%;
                    }              
                }          
            }
        }
    }

 
    @media only  screen and(max-width:667px){
        .main__item{

            .nav{
                justify-content: space-around;

                &__menubar{
                    font-size: 26px;
                    color: #5474fd;
                    background-color: white;
                    padding: 6px 8px;
                    border-radius: 3px;
                    position: absolute;
                    right: 5%;
                    top: 3%; 
                    display: block;
                   
                }

                #myNav.social.responsive{
                    display: flex;
                    margin: 0 auto;
                    margin-top: 20px;
                   
                    .navbar__menu.responsive{
                        overflow: hidden;
                    }

                }

                .social{
                    //  flex-direction: column;
                     display: none;
                    
                }

                .nav.responsive .social{
                    display: block;
                }
            }
            &--herobg{
                padding: 100px 100px;

            }

            &--explore{
                padding: 100px 100px;
            }

            .explorewrap{
                flex-direction: column-reverse;
                padding: 20px 20px;

                .explore{
                    padding: 20px 20px;
                }
                .gallery{
                    max-width: 100%;
                    // max-width: 70%; po e prish te screen 600px
                }
            }

            
            &--features{
                .features{
                    flex-direction: column;
                    gap: 0;
                    padding: 40px 20px;

                    &__item{
                        gap: 0;
                    }

                    &__description{
                        margin-bottom: 30px;
                        font-size: 30px;
                    }
                }

                .svg{
                    height: 50px;
                }

            }

            &--testimonials{
                .btn.btn--book{
                    padding: 15px 15px;
                }
                .testimonials{
                &--left{
                    width: 84%;
                    padding: 25px 50px;
                    margin: 0 auto;
                }
            }
               
            }

            &--testimonialstwo{
                .btn.btn--book{
                    padding: 15px 15px;
                }
                .testimonials{
                    &--right{
                    width: 84%;
                    padding: 25px 50px;
                    margin: 0 auto;
                     }
              }
            }

            &--reviewbg{
               
                padding: 80px 70px;
                
                .review{

                    &box{
                        flex-direction: column;
                    }

                    &box__img{
                        max-width: 100%;
                    }
                    .client{
                        max-width: 100%;
                    }
                
                }

                
            }

        }
    }


    @media only  screen and (max-width:992px){
        .main__item{
             .btn.btn{
                 padding:15px 15px;
             }
            &--herobg{
                padding: 60px 0;  
                .hero{
                    &__search{
                    max-width: 500px;
                    }
                }
            }
            &--explore{
                .explorewrap{
                    flex-direction: column-reverse;
                    .explore{
                        // padding: 90px 200px; spo bon mire te screen 600
                        &__description{
                            font-size: 18px;
                        }
                    }
                }
            }
            &--reviewbg{
                .review{
                    .reviewbox{
                        display: flex;
                        flex-direction: column;

                    &__img, .client{
                        max-width: 100%;
                    }                 
                    }
                }            
            }
        }
        
    }


    
    @media only  screen and (max-width:1280px){
        .main .hero__search{
            width: 500px;
        }

        .main .client{
            padding: 12px 20px;
        }
    }

    @media only  screen and (max-width:375px){
        .main__item{
            &--herobg{
                 
                .hero{
                    &__search{
                     max-width: 250px;
                    }

                    &__input{
                        font-size: 10px;
                    }

                    .btn--search{
                        padding: 16px 7px;
                    }
                }
            }
        }
    }


    // @media only  screen and (min-width:375px){
    //     .main__item{
    //         &--herobg{
    //             .hero{
    //                 &__search{
    //                  max-width: 250px;
    //                 }

    //                 &__input{
    //                     font-size: 10px;
    //                 }

    //                 .btn--search{
    //                     padding: 16px 7px;
    //                 }
    //             }
    //         }

    //         &--explore{
    //             padding:0;

    //             .explorewrap{
    //                 padding: 0;
                    
    //                 .explore{
    //                     padding: 22px 32px;
    //                 }

    //                 .gallery{
    //                     // max-width: 94%; po e shfaq mire ne iphone SE, po jo ne main screen
    //                      padding: 20px 0;
    //                 }
    //             }
    //         }

    //         &--testimonials{
    //             .testimonials{
    //                 &--left{
    //                     width: 100%;
    //                 }
    //             }
    //         }
    //         &--testimonialstwo{
    //             .testimonials{
    //                 &--right{
    //                     width: 100%;
    //                 }
    //             }
    //         }

    //         &--reviewbg{
    //             .review{
    //                 &__heading{
    //                     line-height: 33px;
    //                     margin-bottom:33px;
    //                 }
    //             }
    //         }

    //         .btn{
    //             padding: 15px 15px;
    //         }
    //     }
    // }