$fontFamilyFirst:'Josefin Sans', sans-serif;
$fontFamilySecond:'Aleo', serif;
$bold:700;
$regular:400;
$mainColor:#ffff;
$secondColor:#5474FD;

html{
    scroll-behavior: smooth;
}
.container{
    max-width: 1773px;
    width: 100%;
    margin: auto;
}


.main{
  z-index: -1;
  .btn{
      background-color: $secondColor;
      font-family: $fontFamilySecond;
      line-height: 26px;
      color: $mainColor;
  }

    &__item{
            &--herobg{
                background-image: url(../img/hero1.png);
                padding: 250px 559px 254px 557px;
                background-size: cover;
            }          
            &--blue{
                background-color: $secondColor;
                position: fixed;
                width: 100%;
                z-index: 9;
            }
            &--explore{
                background-image: url(/assets/img/castle.png);
                background-repeat: no-repeat;
                background-size: cover;
            }
            &--features{
                background-color: #333333;
            }
            &--testimonials{
                background:url(/assets/img/bookhouse.png) center/cover no-repeat;
                background-size: cover;
                background-repeat: no-repeat;
            }
            
            &--testimonialstwo{
                background:url(/assets/img/sea.png) center/cover no-repeat;
                background-size: cover;
                background-repeat: no-repeat;
            }
            &--reviewbg{
                background-image:url('/assets/img/tourist1.png');
                padding: 128px 200px;
                background-size: cover;
            }
            &--footer{
                background-color: #232323;
            }
            &--formbg{
                padding: 70px;
                background: url(../img/castle.png);
                background-size: cover;
            }
        }   
        .nav{
            &__menubar{
                display: none;
            }
        }
        .social{
            display: flex;
            gap:20px;
            &__link{
                text-decoration: none;
                color: $mainColor;
                font-family: $fontFamilySecond;
                font-size: 14px;
                line-height: 26px;
                letter-spacing: 1px;
                &:hover{
                    border-bottom: 2px solid white;
                    transition: 0.3s ease-in-out;
                    transform: scale(3);
                    -webkit-transform: scale(3);
                    -moz-transform: scale(3);
                    -ms-transform: scale(3);
                    -o-transform: scale(3);
}
            }
        }

        .hero{   
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            // width: 40%;
            margin:0 auto;
            
            #myHero.hero.responsive{
                display: none;
             }
            &__title{
                font-family: $fontFamilyFirst;
                font-size: 48px;
                font-weight: $bold;
                line-height: 26px;
                letter-spacing: 4.8px;
                color: $mainColor;
                margin: 0;
                margin-bottom: 11px;
            }
            &__description{
                font-family: $fontFamilyFirst;
                font-weight: $regular;
                font-weight: 300;
                font-size: 22px;
                line-height: 26px;
                letter-spacing: 6.82px;
                color: $mainColor;
                margin-bottom: 48px;
            }

            &__search{
                display: flex;
                max-width: 650px;
                width: 100%;
                height: 60px;
                background: white;
                position: relative;
                margin-bottom: 108px;
            }

            &__input{
                width: 77%;
                text-align: center;
                // position: relative;
                border: none;
                font-size: 14px;
                color: #999999;
                font-family: 'Josefin Sans';
                font-weight: $regular;
            }
            &__scroll{
                color: $mainColor;
                font-family: $fontFamilyFirst;
                font-size: 14px;
                line-height: 26px;
                letter-spacing: 2.8px;  
                
                animation: fade-slide-up 1s 1s ease-out forwards,
                pulse 2s 3s ease-out infinite;
                opacity: 0;
                i{
                    color: white;
                }
            }
             .btn--search{
                 position: absolute;
                 right: 1px;
                 top: 3px;
                 justify-content: center;
                 background-color: #5474FD;
                 border: none;
                 color: #ffff;
                 font-weight: 400;
                 font-size: 14px;
                 line-height: 26px;
                 letter-spacing: 1.4px;
                 padding: 14px 16px 13px 24px;
                 font-family: $fontFamilySecond;
                 display: flex;
                 align-items: center;
                gap: 13px;
             }
        } 
        .nav{
            display: flex;
            justify-content: space-around;
            padding: 30px 27px;
            // flex-direction: column;
            &__logo{
                font-family: $fontFamilyFirst;
                font-style: $bold;
                font-size: 24px;
                line-height: 26px;
                letter-spacing: 2.4px;
                color: $mainColor;
                text-decoration: none;  
            }
        }  

        .btn--explore:hover, .btn.btn--book:hover{
            transform: scale(1.05);
            background-color: 5474fda3;
            -webkit-transform: scale(1.05);
            -moz-transform: scale(1.05);
            -ms-transform: scale(1.05);
            -o-transform: scale(1.05);
            box-shadow: 1px 1px 16px #5474fda3;
        }

    //Explore Section css
    .explorewrap{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 120px 0;
        z-index: -3;
        .explore{
            flex-basis: 50%;
            padding-right: 110px;
            padding-left: 181px;
            &__title{
                font-family: $fontFamilySecond;
                font-weight: $regular;
                font-size: 36px;
                color: $mainColor;
                line-height: 26px;
                margin-bottom: 50px;
            }
            &__description{
                // font-family: $fontFamilyFirst;
                // font-weight: $regular;
                line-height: 1.63;
                letter-spacing: 1.03px;
                color: $mainColor;
                margin-bottom: 26px;
                &:first-of-type{
                    margin-bottom: 43px;
                }
                &:not(:first-of-type){
                    margin-bottom: 66px;
                }
            }
            
        }      
        .btn--explore{
            padding: 21px 40px 16px 40px;
            border: none;
        }
        .gallery{
            max-width: 436px;
            width: 100%;
            
            &__img{
                max-width: 350px;
                width: 100%;
                
            }
            &__img--left{
                margin-bottom: 10px;
                animation: fadein 2s;
                &:hover{
                    opacity: 90%;
                }
            }
            &__img--right{
                float: right;
                animation: fadein 5s;
                -webkit-animation: fadein 5s;
                &:hover{
                    opacity: 90%;
                }
}
        }
    }

    //features  
    .features{
        display: flex;
        justify-content: center;
        gap: 105px;
        align-items: center;
        text-align: center;
        padding: 90px 0 80px 0;
        position: relative;

        &--halfcircle{
            position: absolute;
            top: -22%;
            left: 29%;
        }
        &--halfcirclesec{
            position: absolute;
            top: -26%;
            left: 52%;
        }
        &__item{
            display: flex;
            flex-direction: column;
            gap: 43px;

            &:hover{

                a{
                    transform: scale(1.5);
                    transition:0.3 ease-in-out ;
                    -webkit-transform: scale(1.5);
                    -moz-transform: scale(1.5);
                    -ms-transform: scale(1.5);
                    -o-transform: scale(1.5);
                    -webkit-transition:0.3 ease-in-out ;
                    -moz-transition:0.3 ease-in-out ;
                    -ms-transition:0.3 ease-in-out ;
                    -o-transition:0.3 ease-in-out ;
}
                .features__description{
                    font-size: 23px;
                    transition:0.3s ease-in-out ;
                    -webkit-transition:0.3s ease-in-out ;
                    -moz-transition:0.3s ease-in-out ;
                    -ms-transition:0.3s ease-in-out ;
                    -o-transition:0.3s ease-in-out ;
            }
                // transition:1s ease-in-out ;
                
            }
        }
    
        &__link{
            font-size: 72px;
            margin-bottom: 35px;
            font-weight: normal;

            &:hover{
                transform: scale(1.5);
                transition: 0.1s ease-in;
            }
        }
        &__link--blue{
            color: $secondColor;
        }
        &__link--red{
            color: #ff6363;
        }
        &__link--lightblue{
            color:#00a2ff;
        }
        &__description{
            font-family: $fontFamilySecond;
            font-weight: normal;
            font-size: 36px;
            letter-spacing: 1px;
            color: $mainColor;
        }
    }

    //testimonials
    .testimonials{
        padding: 227px 99px;
        color: $mainColor;
        &--left, &--right{
            // width: 35%;
           width: 58%;
           padding: 227px 99px;
        }
        &--right{
            margin-left: auto;
        }
        &__content{
            background-color: rgba(35, 35, 35, 0.9);
            padding: 50px 30px;
            max-width: 540px;
            width: 100%;
            margin: 0 auto;
        }
        &__title{
            margin-bottom: 25px;
        }
        &__heading{
            margin-bottom: 13px;
        }
        &__description{
            margin-bottom: 46px;
            letter-spacing: 1px;
        }
        .btn--book{
            padding:21px 34px 16px 34px;
            border: none;
        }
        }
    
        //review section
        .review{
            color: $mainColor;
            &__heading{
                text-align: center;
                font-family: $fontFamilySecond;
                font-size: 36px;
                line-height: 26px;
                margin-bottom: 91px;

            }
        }
        .reviewbox{
            display: flex;
            justify-content: center;
            max-width: 1113px;
            width: 100%;
            margin: 0 auto;
            align-items: center;

            &__img{
                max-width: 445px;
                width: 100%;
            }
        }

        .client{
            padding:45px 25px 30px 60px;
            max-width: 59%;
            align-self: start;
            background: #333333;
            &__name{
                font-family: 'Poppins' sans-serif;
                font-size: 20px;
                line-height: 26px;
                font-weight: $regular;
            }
            &__saying{
                font-family: $fontFamilyFirst;
                position: relative;
                text-indent: 29px;
                line-height: 1.625;
                // letter-spacing: -0.58px;
                .fas.fa-quote-left{
                    content: '';
                    color: #5474fd;
                    font-size: 18px;
                    position: absolute;
                    top: -12px;
                    left: -27.5px;
                    
                }              
            }
        }
        //footer
        .footer{
            padding: 53px 202px;
            color: #ffff;
            margin: 0 auto;
            text-align: center;
            color: $mainColor;  
            &__title{
                font-family: $fontFamilyFirst;
                font-size: 24px;
                font-weight: $bold;
                line-height: 24px;
                letter-spacing: 3.36px;
                margin-bottom: 8px;
            }
            &__description{
                margin-bottom: 16px;
            }        
            .footersocials{
                display: flex;
                gap: 25px;
                justify-content: center;
                &__link{
                    color: $mainColor;
                    font-size: 15px;

                    &:hover{
                        color:  rgb(84, 116, 253);
                    }
                   
                    &--black{
                        color: black;
                        background-color: white;
                        border-radius:9px;
                        padding: 3px 3px 0px 3px;

                        &:hover{
                            background-color: rgb(84, 116, 253);
                        }
                    }            
                }
            }
        }
        .form{
            border-radius: 2% 6%;
            display: flex;
            flex-direction: column;
            max-width: 34%;
            width: 100%;
            margin: 0 auto;
            background: #f5f5f5;
            padding: 22px 19px;

            /* From https://css.glass */
            background: rgba(255, 255, 255, 0.2);
            border-radius: 16px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
            border: 1px solid rgba(255, 255, 255, 0.3);
          
            &__title{
                text-align: center;
                font-family: 'Aleo';
                font-size: 46px;
                font-weight: 700;
                line-height: 26px;
                letter-spacing: 4.8px;
                color: $mainColor;
                margin-top: 150px;
            }
        
            &__description{
                font-family: "Josefin Sans", sans-serif;
                font-weight: 300;
                line-height: 26px;
                color: $mainColor;
                font-size: 20px;
                margin-bottom: 10px;
                opacity: 60%;
            }
        
            &__label{
                
                // background: rgba(0,149,246,.3) ;
                border-radius: 4px 2px;
                padding: 6px 3px;
                margin-bottom: 2px;
                border-bottom: none;
                color: white;
                font-family: sans-serif;
                opacity: 60%;
            }
            &__input{
                border: none;
                padding: 10px;
                border-radius: 4px;
                max-width: 100%;
                margin-bottom: 20px;
        
            }
        
            
            .btn{
                transition: trasnsform 300ms, background-color 300ms;
                animation: pulse 500ms;
                font-family: "Aleo", serif;
                line-height: 26px;
                color: $mainColor;
                &:hover{
                    transform: scale(1.05);
                    background-color: 5474fda3;
                    -webkit-transform: scale(1.05);
                    -moz-transform: scale(1.05);
                    -ms-transform: scale(1.05);
                    -o-transform: scale(1.05);
                    box-shadow: 1px 1px 16px #5474fda3;
                }
                &:active{
                    transform: scale(0.95);
                    animation: none;
                }
        
                @keyframes pulse {
                    from{
                        box-shadow: $secondColor 0 0 0;
                    }
                    to{
                        box-shadow: rgba(0,149,246,.3)  0 0 0 ;
                        border-radius:5px;
                        -webkit-border-radius:5px;
                        -moz-border-radius:5px;
                        -ms-border-radius:5px;
                        -o-border-radius:5px;
                    }           
                }
        
                &--submitform{
                    border: none;
                    align-self: center;
                    padding: 15px 40px;
                }
            }
        }
        
        
        input:invalid, textarea:invalid {
            background-color: #ffdddd4f;
          }     
          .form__input:valid {
            background-color: #ddffdd;
          }               
          input:required {
            border-color: #800000;
            border-width: 3px;
          }         
          input:required:invalid {
            border-color: #c00000;
          }       
    } 
      @media only  screen and (max-width:1280px){

        .main{
            &__item{
                &--herobg{
                    padding: 250px 25px 557px;
                }

                &--reviewbg{
                    .reviewbox{

                        .client{
                            max-width: 71%;
                        }
                    }
                }
            }
            .explorewrap{
                .explore{
                  flex-basis: 100%;
              }
            }
        }
          .main .hero__search{
              width: 500px;
          }

          .main .reviewbox{
              flex-direction: column;
              .galley{
                  &__img{
                  max-width: 100%;
                }
              }
          }

          .main .explore{
              flex-basis: 100%;
            padding: 50px 70px;
          }
          .main .client{
            padding: 20px;
            max-width: 51%;
             align-self: unset;
             flex-wrap: wrap;
          }
      }


      //animations
      @keyframes fade-slide-down {
        0% {
          opacity: 0;
          transform: translateY(-4rem);
        }
        100% {
          opacity: 1;
          transform: none;
        }
      }
      
      @keyframes fade-slide-up {
        0% {
          opacity: 0;
          transform: translateY(4rem);
        }
        100% {
          opacity: 1;
          transform: none;
        }
      }
      
      @keyframes pop-in {
        0% {
          opacity: 0;
          transform: translateY(-4rem) scale(.8);
        }
        100% {
          opacity: 1;
          transform: none;
        }
      }
      
      @keyframes pulse {
        0% {
          opacity: 1;
          transform: none;
        }
        50% {
          opacity: .8;
          transform: scale(.8);
        }
        100% {
          opacity: 1;
          transform: none;
        }
      }
      @keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
      
     @media only  screen and (max-width:992px){
         .main__item{
                 .nav{
                    display: block;
                     justify-content: space-around;
    
                     &__menubar{
                         font-size: 24px;
                         color: #5474fd;
                         background-color: white;
                         padding: 6px 8px;
                         border-radius: 3px;
                         position: absolute;
                         right: 3%;
                         top: 22%; 
                         display: block;
                       
                     }

                   
                     #myNav.social.responsive{
                         display: flex;
                         margin: 0 auto;
                         flex-direction: column;
                         position: absolute;
                         left: 0%;
                         height: auto;
                         text-align: center;
                         background: #5474fd;
                         width: 100%;
                         z-index: 1;
                         gap: 60px;
                         padding: 100px 35px;  
                         opacity: 70%;          
                         .navbar__menu.responsive{
                             overflow: hidden;
                       }
                     }                    
                     .social{
                           flex-direction: column;
                          display: none;               
                     }
                     .nav.responsive .social{
                         display: block;
                     }
                 }
              .btn.btn{
                  padding:15px 15px;
              }
             &--herobg{
                 padding: 200px 0;  
                 #myHero.hero.responsive{
                    display: none;
                 }
                 .hero{  
                     &__search{
                         max-width: 450px;
                     width: 100%;
                     }
                 }
             }
             &--explore{
                 .explorewrap{
                     flex-direction: column-reverse;
                     .explore{
                          padding: 90px 200px; 
                         &__description{
                             font-size: 18px;
                         }
                     }
                 }
             }
             .features{
                &--halfcircle, &--halfcirclesec{
                    display: none;
                }
            }                
              .reviewbox{
                display: flex;
                 flex-direction: column;

            &__img, .client{
                 max-width: 100%;
                   }                 
              }
              .features{
                &--halfcircle, &--halfcirclesec{
                    display: none;
                }
            }                
             
         }
        
     }

     @media only screen and (max-width: 769px){
        .main{
            &__item{
              &--form{
                  .form{
                      max-width: 90%;
                      &__title{
                        font-size: 23px;
                        margin-top: 47px;
                      }
                  }
              }
              .features{
                &--halfcircle, &--halfcirclesec{
                    display: none;
                }

                &__desctiption{
                    font-size: 29px;
                }
            }
            }
        }

     }




     @media only  screen and(max-width:667px){
        .main__item{
            .nav{
               display: block;
                justify-content: space-around;

                &__menubar{
                    font-size: 24px;
                    color: #5474fd;
                    background-color: white;
                    padding: 6px 8px;
                    border-radius: 3px;
                    position: absolute;
                    right: 3%;
                    top: 22%; 
                    display: block;
                  
                }

                #myNav.social.responsive{
                    display: flex;
                    margin: 0 auto;
                    flex-direction: column;
                    position: absolute;
                    left: 0%;
                    height: auto;
                    text-align: center;
                    background: #5474fd;
                    width: 100%;
                    z-index: 1;
                    gap: 60px;
                    padding: 100px 35px;            
                    .navbar__menu.responsive{
                        overflow: hidden;
                  }
                }
                .social{
                      flex-direction: column;
                     display: none;               
                }

                .nav.responsive .social{
                    display: block;
                }
            }
            &--herobg{
                padding: 170px 90px;
            }
            &--explore{
                padding: 100px 100px;
            }

            .explorewrap{
                flex-direction: column-reverse;
                padding: 20px 20px;
                .explore{
                    padding: 20px 20px;
                }
                .gallery{
                    max-width: 100%;
                     max-width: 70%; 
                }
            }
           
            &--features{
                .features{
                    flex-direction: column;
                    gap: 0;
                    padding: 40px 20px;

                    &--halfcircle, &--halfcirclesec{
                         display: none;
                        }
                    
                    &__item{
                        gap: 0;
                    }
                    &__description{
                        margin-bottom: 30px;
                        font-size: 30px;
                    }

                    
                }
                .svg{
                    height: 50px;
                    &:hover{
                        transform: scale(1.5);
                        transition: 0.1s ease-in;
                    }
                }
            }

            &--testimonials{
                .btn.btn--book{
                    padding: 15px 15px;
                }
                .testimonials{
                &--left{
                    width: 84%;
                    padding: 25px 50px;
                    margin: 0 auto;
                }
            }
              
            }

            &--testimonialstwo{
                .btn.btn--book{
                    padding: 15px 15px;
                }
                .testimonials{
                    &--right{
                    width: 84%;
                    padding: 25px 50px;
                    margin: 0 auto;
                     }
              }
            }
            &--reviewbg{             
                padding: 80px 70px;            
                .review{
                    &box{
                        flex-direction: column;
                    }
                    &box__img{
                        max-width: 100%;
                    }
                    .client{
                        max-width: 100%;
                    }
                }    
            }

            &--footer{        
                padding: 20px 20px;
            }
            .form{
                max-width: 100%;
                &__title{
                    font-size: 33px;
                }
            }
        }
    }


     @media only screen and (max-width: 600px){
         .nav{
             justify-content: start;
             &__logo{
                 margin-right: auto;
             }
             .social{
                 flex-direction: column;
                 display: none;
             }
         }
         .main__item{
             &--herobg{
                padding: 140px 90px;
                 .hero{
                     &__title{
                         font-size: 22px;
                     }
                     &__description{
                         font-size: 11px;
                         margin-bottom: 30px;
                     }
                     &__search{
                         max-width: 350px;
                     }
                     &__input{
                         width: 70%;
                         font-size: 11px;
                     }
                     .btn--search{
                         padding:16px 17px;
                     }
                 }
             }

             &--explore{
                 .explorewrap{
                     flex-wrap: wrap;
                     flex-direction: column-reverse;
                     padding: 5px 0;

                     .explore{
                         margin-bottom: 14px;
                        //  padding: 0 75px;
                     }

                     .gallery{
                          max-width: 350px;

                         &__img--left{
                             margin-top: 10px;
                         }
                         &__img--right{
                             display: none;
                         }
                     }

                     .btn--explore{
                         padding: 15px 15px;
                     }
                 }
             }

             &--features{
                 .features{
                     flex-direction: column;
                     gap: 0;
                     padding: 40px 20px;

                &--halfcircle, &--halfcirclesec{
                    display: none;
                }
                     &__item{
                         gap: 0;
                     }
                     &__description{
                         margin-bottom: 30px;
                         font-size: 30px;
                     }
                 }
                 .svg{
                     height: 50px;
                 }
             }

             &--testimonials{
                 .btn.btn--book{
                     padding: 15px 15px;
                 }
                 .testimonials{
                 &--left{
                     width: 84%;
                     padding: 25px 50px;
                     margin: 0 auto;
                 }
             }           
             }
             &--testimonialstwo{
                 .btn.btn--book{
                     padding: 15px 15px;
                 }
                 .testimonials{
                     &--right{
                     width: 84%;
                     padding: 25px 50px;
                     margin: 0 auto;
                      }
               }
             }
             &--reviewbg{            
                 padding: 80px 70px;             
                 .review{
                     &box{
                         flex-direction: column;
                     }
                     .client{
                         max-width: 100%;
                     }              
                 }          
             }
         }
     }
      @media only  screen and (max-width:541px){
          .main__item{
              &--herobg{
                padding: 200px 0;
                  .hero{
                      &__search{
                       max-width: 300px;
                      }

                      &__input{
                          font-size: 10px;
                      }

                      .btn--search{
                          padding: 14px 7px;
                      }
                  }
              }

              &--explore{
                  padding:0;

                  .explorewrap{
                      padding: 0;
                    
                      .explore{
                          padding: 22px 32px;

                          &__title{
                              font-size: 33px;
                          }
                      }

                      .gallery{
                           max-width: 94%; 
                           padding: 20px 5px;
                      }
                  }
              }

              &--testimonials{
                  .testimonials{
                      &--left{
                          width: 100%;
                      }
                  }
              }
              &--testimonialstwo{
                  .testimonials{
                      &--right{
                          width: 100%;
                      }
                  }
              }

              &--reviewbg{
                  .review{
                      &__heading{
                          line-height: 33px;
                          margin-bottom:33px;
                      }
                  }
              }

              .btn{
                  padding: 15px 15px;
              }

              .features{
                &--halfcircle, &--halfcirclesec{
                    display: none;
                }
              }

              .footer{
                  padding:0 ;
              }

              &--formbg{
                .form{
                    max-width: 100%;
      
                    &__title{
                      font-size: 25px;
                      margin-top: 47px;
                    }
                }
            }
          }

        
          
      }

      @media only screen and(max-width:361px){
          .main{
              &__item{
                &--form{
                    .form{
                        &__title{
                          font-size: 23px;
                          margin-top: 47px;
                        }
                    }
                }
              .features{
                &--halfcircle, &--halfcirclesec{
                    display: none;
                }
              }   
              }
          }
        
      }




